
 body{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;overflow-x:hidden}
 p{font-size:20px}p.small{font-size:16px}
 a,a.active,a:active,a:focus,a:hover{color:#18BC9C;outline:0}h1,h2,h3,h4,h5,h6{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
 hr.star-light,hr.star-primary{padding:0;border:none;border-top:solid 5px;text-align:center;max-width:250px;margin:25px auto 30px}hr.star-light:after,hr.star-primary:after{content:"\f005";font-family:FontAwesome;display:inline-block;position:relative;top:-.8em;font-size:2em;padding:0 .25em}.navbar-custom,header .intro-text .name{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase}hr.star-light{border-color:#fff}hr.star-light:after{background-color:#18BC9C;color:#fff}hr.star-primary{border-color:#2C3E50}hr.star-primary:after{background-color:#fff;color:#2C3E50}.navbar-custom .navbar-brand,.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-nav li a,header{color:#fff}.img-centered{margin:0 auto}header{text-align:center;background:#18BC9C}header .container{padding-top:100px;padding-bottom:50px}header img{display:block;margin:0 auto 20px}header .intro-text .name{display:block;font-weight:700;font-size:2em}header .intro-text .skills{font-size:1.25em;font-weight:300}@media (min-width:768px){header .container{padding-top:200px;padding-bottom:100px}header .intro-text .name{font-size:4.75em}header .intro-text .skills{font-size:1.75em}}.navbar-custom{background:#2C3E50;font-weight:700;border:none}.navbar-custom a:focus{outline:0}.navbar-custom .navbar-nav{letter-spacing:1px}.navbar-custom .navbar-nav li a:hover{color:#18BC9C;outline:0}.navbar-custom .navbar-nav li a:active,.navbar-custom .navbar-nav li a:focus{color:#fff}.navbar-custom .navbar-nav li.active a,.navbar-custom .navbar-nav li.active a:active,.navbar-custom .navbar-nav li.active a:focus,.navbar-custom .navbar-nav li.active a:hover{color:#fff;background:#18BC9C}.navbar-custom .navbar-toggle{color:#fff;text-transform:uppercase;font-size:10px;border-color:#fff}.navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover{background-color:#18BC9C;color:#fff;border-color:#18BC9C}@media (min-width:768px){.navbar-custom{padding:25px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s}.navbar-custom .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-custom.affix{padding:10px 0}.navbar-custom.affix .navbar-brand{font-size:1.5em}}section{padding:100px 0}section h2{margin:0;font-size:3em}section.success{background:#18BC9C;color:#fff}@media (max-width:767px){section{padding:75px 0}section.first{padding-top:75px}}#portfolio .portfolio-item{margin:0 0 15px;right:0}#portfolio .portfolio-item .portfolio-link{display:block;position:relative;max-width:400px;margin:0 auto}#portfolio .portfolio-item .portfolio-link .caption{background:rgba(24,188,156,.9);position:absolute;width:100%;height:100%;opacity:0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s}#portfolio .portfolio-item .portfolio-link .caption:hover{opacity:1}#portfolio .portfolio-item .portfolio-link .caption .caption-content{position:absolute;width:100%;height:20px;font-size:20px;text-align:center;top:50%;margin-top:-12px;color:#fff}.btn-social,.scroll-top,.scroll-top .btn{width:50px;height:50px}#portfolio .portfolio-item .portfolio-link .caption .caption-content i{margin-top:-12px}#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,#portfolio .portfolio-item .portfolio-link .caption .caption-content h4{margin:0}#portfolio *{z-index:2}@media (min-width:767px){#portfolio .portfolio-item{margin:0 0 30px}}.floating-label-form-group{position:relative;margin-bottom:0;padding-bottom:.none;border-bottom:1px solid #eee}.floating-label-form-group input,.floating-label-form-group textarea{z-index:1;position:relative;padding-right:0;padding-left:0;border:none;border-radius:0;font-size:1.5em;background:0 0;box-shadow:none!important;resize:none}.floating-label-form-group label{display:block;z-index:0;position:relative;top:2em;margin:0;font-size:.85em;line-height:0.7em;vertical-align:middle;vertical-align:baseline;opacity:0;-webkit-transition:top .3s ease,opacity .3s ease;-moz-transition:top .3s ease,opacity .3s ease;-ms-transition:top .3s ease,opacity .3s ease;transition:top .3s ease,opacity .3s ease}.floating-label-form-group:not(:first-child){padding-left:14px;border-left:1px solid #eee}.floating-label-form-group-with-value label{top:0;opacity:1}.floating-label-form-group-with-focus label{color:#18BC9C}form .row:first-child .floating-label-form-group{border-top:1px solid #eee}footer{color:#fff}footer h3{margin-bottom:30px}footer .footer-above{padding-top:50px;background-color:#2C3E50}footer .footer-col{margin-bottom:50px}footer .footer-below{padding:25px 0;background-color:#233140}.btn-outline{color:#fff;font-size:20px;border:2px solid #fff;background:0 0;transition:all .3s ease-in-out;margin-top:15px}.btn-outline.active,.btn-outline:active,.btn-outline:focus,.btn-outline:hover{color:#18BC9C;background:#fff;border:2px solid #fff}.btn-primary.active,.btn-primary:active,.btn-success.active,.btn-success:active,.open .dropdown-toggle.btn-primary,.open .dropdown-toggle.btn-success{background-image:none}.btn-primary{color:#fff;background-color:#2C3E50;border-color:#2C3E50;font-weight:700}.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#1a242f;border-color:#161f29}.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#2C3E50;border-color:#2C3E50}.btn-primary .badge{color:#2C3E50;background-color:#fff}.btn-success{color:#fff;background-color:#18BC9C;border-color:#18BC9C;font-weight:700}.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success{color:#fff;background-color:#128f76;border-color:#11866f}.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#18BC9C;border-color:#18BC9C}.btn-success .badge{color:#18BC9C;background-color:#fff}.btn-social{display:inline-block;border:2px solid #fff;border-radius:100%;text-align:center;font-size:20px;line-height:45px}.btn.active,.btn:active,.btn:focus{outline:0}
 .modal { overflow-y:auto;} .modal-open { overflow:auto;}
 body.modal-open-noscroll
 {
  margin-right: 0!important;
  overflow: hidden;
 }
 .modal-open-noscroll .navbar-fixed-top, .modal-open
 {
  margin-right: 0!important;
 }

body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}
ul{
	padding-left: 0px !important;
}
li{
	list-style: none;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

 
 #mainLogo{
 	height: 100px;
    margin-top: -45px;
    width: 150px;
    margin-left: 30px;
 }
.modalDiv{
	
	width: 75%;
	margin-top: 20px;
	padding: 20px 5px 20px 5px;
	border-radius: 3px;
}
.editNav{
	font-size: large;
	font-weight: 500;
}
.main-img{
	
}
#portfolio{
	background-image: url('../img/back2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-top: 180px;
	padding-bottom: 110px;
}
.imgDiv{
	box-sizing: border-box; 
	z-index: 1;
	margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.imgDiv>img{
	width: 200px;
	margin-bottom: 20px;
	z-index: 0;
}
.imgDiv table{
	width: 100%;
}

.diffAngle>div{
	
	height: 50px;
	width: 50px;
	margin-top: 7px;
}
.diffAngle>div>img{
	height: 50px;
	width: 50px;
}
.prodDiff{
	overflow: hidden;
}
.prodDiff>div{
	float: left;
	margin-left: 10px;
}
.product-name{
	font-family: 'Source Sans Pro', sans-serif;
	color: #18BC9C;
}
#products img{
	padding-top: 10px;
	height:120px;
}
.features{
	margin-bottom: 40px;
	background-color: #e6e6e6;
	border-radius: 5px;
}
.features>div>ul>li{
	font-size: inherit;
}
.colorPur{
}
.colorPur>h5{
	color: #CC6600;
}
#prodImg{
	height: 150px; 
	margin-left: 20px; 
	margin-bottom: 5px;
}
.prodTable>tbody>tr>td>img{
	margin-left: 20px;
}
.removeBord:visited{
	
}
.small-text{
	font-size: 20px;
}
.rating1{
	background-color: #ff9f00;
	color: #fff;
	overflow: hidden;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 2px;
}
.suggestion>p{
	text-align: center;
	line-height: 0.9;
}
.progress>div{
	color: #ffff00;
}
.thumbnail{
	background-color: #dbdbdb;

}
.rating2{
	background-color: #3366CC;
	color: #fff;
	overflow: hidden;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 2px;
}
.review{
	color: #9ba2af;
	font-size: inherit;
}
#mainSection{
	background-color: #f0f1f3;
}
.popProd{
	
	overflow: hidden !important;
	border-radius: 3px;
	margin-top: 27px;
}
#popularProducts img{
	height:80px;
}
#popularProducts{
	overflow: hidden !important;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.innerProdImg img{
	width: 100%;
}
.innerProdText{
	box-sizing: border-box;
	padding-bottom: 20px;
}
.popularLine{
	color: #2C3E50;
	font-weight: bold;
}
.blog{
	background-color: #fff;
	padding: 20px 30px; 
	border-top: 6px solid #18BC9C;
	
	margin-bottom: 50px;
	border-radius: 3px;
	margin-top: 30px;
}
.blogMainText{
	text-align: center;
}
.blog div{
	margin-top: 5px;
}
.blogTry{
	text-align: center;
	box-sizing: border-box;
	margin-top: -52px !important;
	margin-bottom: 20px;
	width: 60px;
	height: 60px;
	margin-left: 47%;
	background-color: #18BC9C;
	border-radius: 50%; 
	padding-top: 8px;
	padding-left: 4px;
}
.blogTry img{
	width: 40px;
	height: 40px;
}
.blogImg img{
	width: 100%;
}
.blogPara{
	padding-top: 10px;
}
.mainContent{
	padding-top: 10px;
}
.blogPara p{
	line-height: 0.9;
	font-weight: inherit;
}
.accessories>div{
	float: left;
	text-align: center;
	padding-top: 10px;
}
.accessories>div>p{
	color: #9ba2af;
}
.innerSuggestion{
	margin-bottom: 30px;
	background-color: #fff;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
}
.outerBlogImg{
	overflow: hidden;
	margin-bottom: 30px;
	background-color: rgba(0,0,0,0.4) !important;
	border-radius: 5px;
}
.comment-form .form-group{
	width: 85%;
}

.comment-form input[type="text"]{
	width: 100%;
}
.comment-avatar img{
	width: 40px;
	margin-right: 5px;
	padding-top: 30px;
}
.comment{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
	width: 100%;
}
.comment-text{
	padding-left: 60px;
}
.bottom-icon{
	border-radius: 45%;
    background-color: #18BC9C;
    padding: 6px 10px;
    margin-right: 15px;
    font-size: 20px;
    padding-bottom: 10px;
    color: #fff;
}
.bottom-icon:hover{
	background-color: #fff;
	color: #18BC9C;
}
.target{
	
}
.target h5{
	color: #CC6600;
	font-weight: 500;
}
.target li{
	
}
.prod{
	
}
.prod h5{
	color: #CC6600;
	font-weight: 500;
}
.prod p{
	font-size: inherit;
}
.feedback p{
	font-size: inherit;
}
.questions h4{
	color: #CC6600;
	margin-bottom: 20px;
	font-weight: 500;
}
.commentAns{
	font-size: inherit;
}

@media(max-width:1200px)
{
	
	.imgDiv>img{
		width: 200px !important;
	}
}

@media(max-width:1000px)
{
	/*section{
		margin-top: 40px;
	}*/
	#products{
		width: 70%;
	}
	.media{
		padding-left: 25% !important;
	}
	.innerProdImg img{
		height: 120px;
	}
	.popProd div{
		margin-bottom: 30px;
	}
	.innerProdText{
		padding-top: 40px;
	}
	.imgDiv{
		text-align: center;
	}
	.main-img{
		width: 50%;
	}
	.imgDiv>ul{
	}
	.main-name{
		text-align: center;
	}

}
@media(max-width:768px)
{
	.popProd>p{
		text-align: center;
	}
	.main-img{
		width: 50%;
		margin-left: 20%; 
	}
	.blogTry{
		margin-left: 44%;
	}
	.innerProdImg img{
		height: 120px;
		width: 150px;
	}
	.comment-form .form-group{
		width: 85% !important;	
	}
	.customBtn{
		
		float: right;
		margin-bottom: 50px;
	}
	#mainLogo{
		margin-left: -20px;
	}
	.main-img{
		margin-left: -5px;
		width: 70%;
	}
	.main-name{
		text-align: center;
	}
}
@media(max-width:570px)
{
	.comment-form .form-group{
		width: 84% !important;	
	}
	.customBtn{
		margin-top: -52px !important;
		float: right;
		margin-bottom: 50px;
	}
	.text1{
		font-size: 1.5em !important;
	}
	.text2{
		font-size: 0.8em !important;
	}
	.about1{
		font-size: 2.0em !important;
	}
	.about2{
		font-size: 0.9em !important;
	}
	#portfolio{
		padding-top: 120px !important;
		padding-bottom: 50px !important;
	}
	.main-name{
		text-align: center;
	}
}

 /*
 .modal-open[style] {
  padding-right: 0px !important;
  margin-right: 0!important;
 }*/


#thistable1 a{
text-decoration:none;
font-size:1rem;
}
#thistable1 a:hover{
    color: #fff;
    background-color: #373a3c
}
#thistable tr:hover{
    color: #fff;
    background-color: #373a3c
}
.tab-pane{
	padding-top: 30px;
}
.listEdit{
	color: #000000;
	text-align: center;
	padding-bottom: 2px;
}
.listEdit:hover{
	color: #fff;
    background-color: #373a3c;
}
.progress{
	background-color: rgba(0,0,0,0.1);
	height: 25px;
	border-radius: 4px;
}
.progress-bar{
	height: 100%;
	border-radius: 4px;
}
.prod>div{
	margin-bottom: 20px;
}
.stars{
	font-weight: bold;
}
.tcdiv{
	padding-top: 20px;
}
.innertc{
	
}
.innertc>div{
	background-color: rgba(0,0,0,0.3); 
	height: 143px;
}
.intc:hover{
	background-color: rgba(0,0,0,0);
}
.wrapper{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slide{padding:300px 0px; width:100%;}

.slide1{background-image: url('../img/light1.png');background-size: 100%;background-repeat: no-repeat;}
.slide2{background-image: url('../img/light.png');background-size: 100%;background-repeat: no-repeat;}
.slide3{background-image: url('../img/light3.jpg');background-size: 100%;background-repeat: no-repeat;}